

<style>
    
    .navbar{
        background-color: blue;
        color:white; 
        display:flex;
        justify-content: space-between;
        padding:24px; 

    }

    .sidebar{
        height:100%
    }

    .sign-up{
        padding:12px 24px; 
        border-radius:8px; 
        background:purple; 
        color:white; 
    }


</style>


<div class="flex-container">
    <div class="navbar">
        <div class="logo" routerLink="/sign-up" routerLinkActive="active">stack-thrive</div>
        <button class="sign-up"><a href="http://ts-sandbox.app.thrivestack.ai/n76sdclHb/y4jCrtlfj/MRpIrTrsa9/">Sign Up</a></button>
    </div>

    <div class="sidebar">
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>
